.btnCheck{
    text-align: right;
}
#tableData6{
    border:1px solid #ddd;
}
.container-item{
    font-family: 'microsoft yahei';
    padding:20px;
}
.container-item .el-button{
    font-family: 'microsoft yahei';
}
.el-row {
    margin-bottom: 10px;
}

.el-col > span {
    float: left;
    margin-top: 10px;
}

.el-col .grid {
    float: left;
    width: 75%;
}

.el-table .el-input {
    display: none
}

.table-item .active .el-input {
    display: block;
}

.table-item .active .el-input + span {
    display: none;
}

#tableData6 .el-input {
    display: none
}

#tableData6 .active .el-input {
    display: block;
}

#tableData6 .active .el-input + span {
    display: none;
}

.search-label {
    color: #000;
    margin-top: 0px !important;
}